<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Formulario de Examen</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/checkout/">

    <!-- Bootstrap core CSS (Version 4.6) -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Formulario de compra</h2>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Tu carrito</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Nombre del producto</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Segundo producto</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Tercer artículo</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Código promocional</h6>
                            <small>EJEMPLOCODIGO</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Dirección de facturación</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">

                            <label for="cliente" class="col-sm-2 col-form-label"
                                   th:text="'Cliente'"></label>
                            <input name="cliente"
                                   th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
                                   class="form-control" id="cliente" disabled='disabled' />
                        </div>

                        <div class="col-12">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>
                                <div class="invalid-feedback">
                                    Se requiere un nombre de usuario.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Correo electrónico <span class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Por favor, ingresa una dirección de correo electrónico válida para recibir actualizaciones de envío.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Calle Principal" required>
                            <div class="invalid-feedback">
                                Por favor, ingresa tu dirección de envío.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="buscar_producto" class="col-sm-2 col-form-label"
                               th:text="'Buscar producto'"></label>
                        <div class="col-sm-6">
                            <input type="text" name="buscar_producto" id="buscar_producto"
                                   class="form-control" />
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar con la compra</button>
                </form>
            </div>
        </div>
    </main>
</div>
<script src="/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
</body>
</html>